#page-header {
  background-image: url("../img/banner/b19.jpg");
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-container {
  padding-bottom: 69px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img  {
 
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog-details p {
  margin-bottom: 20px;
  margin-top: 10px;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-weight: 700;
  position: relative;
}
#blog .blog-details a::after {
  cursor: auto;
  content: "";
  width: 50px;
  height: 1.2px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088;
  transition: 0.2s;
}
#blog .blog-details a:hover::after {
  background-color: #088;
}
#blog .blog-container h1 {
  z-index: -1;
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
}
@media(max-width: 745px) {
  #blog {
    padding: 100px 50px 0 50px;
}
}
@media(max-width: 500px) {
  #blog .blog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {

    width: 100%;
    margin-right: 0;
    margin-bottom: 13px;
  }
  #blog .blog-details {
    width: 100%;
  }
}